</main>

<footer>
    <nav>
    <ul class="social_icon">
        <li><a href="https://twitter.com/@balireddy_priya" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="https://github.com/PriyaBalireddy/" target="_blank"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/in/priya-balireddy-24469431a/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      </ul>
    </nav>
    <% var year = new Date().getFullYear(); %>
    <p>Copyright © <%= year %> | SUO's Log</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

